In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('weight-height.csv')
data.sample(10)

      Gender     Height      Weight
420     Male  69.689795  190.933400
2431    Male  66.383576  172.741452
9242  Female  66.758557  166.232333
3321    Male  74.066879  214.342466
2263    Male  70.573326  213.059851
550     Male  63.731048  160.344904
8272  Female  60.191330  115.045772
6439  Female  66.127637  150.433689
4256    Male  72.715225  207.246581
634     Male  69.554762  192.181669

In [3]:
data.shape

(10000, 3)

In [4]:
data.Height.describe()

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64

**Outlier Removal using 3 Std Deviation**

In [18]:
avg = data.Height.mean()

In [19]:
std= data.Height.std()

In [21]:
upper_limit = avg + 3*std
lower_limit = avg - 3*std
upper_limit, lower_limit

(77.91014411714076, 54.82497539250136)

In [22]:
data[(data.Height>upper_limit)|(data.Height<lower_limit)]

      Gender     Height      Weight
994     Male  78.095867  255.690835
1317    Male  78.462053  227.342565
2014    Male  78.998742  269.989699
3285    Male  78.528210  253.889004
3757    Male  78.621374  245.733783
6624  Female  54.616858   71.393749
9285  Female  54.263133   64.700127

In [25]:
outlier_removed_using_quartiles = data[(data.Height<upper_limit)&(data.Height>lower_limit)]

In [26]:
outlier_removed_using_quartiles.shape

(9993, 3)

**Outliers Removal using Z-Score Method**

In [30]:
data['zscore'] = (data.Height - data.Height.mean())/data.Height.std()
data.head()

  Gender     Height      Weight    zscore
0   Male  73.847017  241.893563  1.943964
1   Male  68.781904  162.310473  0.627505
2   Male  74.110105  212.740856  2.012343
3   Male  71.730978  220.042470  1.393991
4   Male  69.881796  206.349801  0.913375

In [31]:
data.shape

(10000, 4)

Z Score must be between -3 and 3

*Another way of saying same thing is get data points that are more than 3 standard deviation away*

In [32]:
data[(data.zscore>3)|(data.zscore<-3)]

      Gender     Height      Weight    zscore
994     Male  78.095867  255.690835  3.048271
1317    Male  78.462053  227.342565  3.143445
2014    Male  78.998742  269.989699  3.282934
3285    Male  78.528210  253.889004  3.160640
3757    Male  78.621374  245.733783  3.184854
6624  Female  54.616858   71.393749 -3.054091
9285  Female  54.263133   64.700127 -3.146027

In [33]:
outliers_removed_using_zscore = data[(data.zscore<3)&(data.zscore>-3)]

In [34]:
outliers_removed_using_zscore.shape

(9993, 4)

In [39]:
data = outliers_removed_using_zscore

In [40]:
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9993 rows x 3 columns]

**Third Medthod of Removing Outliers**